/* Map */
#my_dataviz {
  border: 2px solid grey;
}

.Abidjan {
  fill: url(#ecole);
}

.Comoé {
  fill: url(#agriculture);
}

.Gôh-Djiboua {
  fill: url(#elevage);
}

.Denguélé {
  fill: url(#transport);
}

.Lagunes {
  fill : url(#patisserie);
}

path {
  fill-opacity: 0.5;
}

path:hover {
  fill-opacity: 0.8;
}

text a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: small;
  fill: rgb(60, 0, 255);
  text-decoration: none;
  transition: 0.5s;
}

text:hover a {
  fill: white;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  transition: 0.5s;
}

svg {
  background: radial-gradient(rgb(203, 203, 203),rgb(198, 198, 198));
}

.tjustify {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}
